# Ignorer les données (trop lourdes pour GitHub)
data/

# Ignorer les environnements virtuels
venv/
.env

# Ignorer les fichiers temporaires Python et Jupyter
__pycache__/
.ipynb_checkpoints/
*.pyc

# Ignorer les fichiers système
.DS_Store